body{
    font-family: 'Roboto Slab', serif;
}
body h3{
    font-size: 30px;
}
.name-highlight{
    color:#5656d6;
}
.half-width{
    width:30%;
    float:left;
    margin: 5%;
    padding: 2%;
    text-align: justify;
}
.half-width img{
    width: 100%;
}