body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
body h3{
    font-size: 30px;
}
.name-highlight{
    color:#5656d6;
}
.half-width{
    width:30%;
    float:left;
    margin: 5%;
    padding: 2%;
    text-align: justify;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
    
}
section{
    height:500px;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding:10px 20px;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
}